<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.weibo">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".control.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".control.RegisterActivity" />
        <activity android:name=".control.WeiboListActivity" />
        <activity android:name=".control.WeiboDetailActivity" />
        <activity android:name=".control.WeiboActivity" />
        <activity android:name=".control.CommentActivity" />
        <activity android:name=".others.BasicalActivity" />
        <activity android:name=".control.PersonalActivity" />
        <activity android:name=".control.WeiboFocusActivity" />
        <activity android:name=".control.PersonalinfoActivity"></activity>
    </application>

</manifest>